body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Chat-main{
  font-size: 20px;
  border: 2px solid rgb(63, 63, 66);
  padding: 20px;
  height: calc(100vh - 300px);
  overflow-y: scroll;
}
.Text-resiver{
  flex-direction: column;
  align-items: flex-end;
  display: flex;
  
  
} 
.login-container{
 display: flex;
 justify-content: center;
}
.chat-main-text{
 
}
.log-out-container{
  display: flex;
  border-radius: 25px;
  justify-content:  center;
  background-color: rgb(83, 76, 65);
  border: 2px black;
  height: 60px;
  width: 160px;
  
  
}
.logo{
  margin: 20px;
  margin-right: 20px;
  width: 25px;
  height: 25px;
  background-color: aqua;
}
.log-out-button{
  margin-top: 20px;
}
form{
}
.Text{
  display: block;
}
